ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
chimara-plugin.pc
chimara.pc
chimara.spec
compile
config.*
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
ylwrap
*.anjuta*
TODO.tasks
intltool-*.in
*~
