/* Possible selectors:
 * normal
 * emphasized
 * preformatted
 * header
 * subheader
 * alert
 * note
 * block-quote
 * input
 * user1
 * user2
 *
 * Possible style hints:
 * font-family (string)
 * font-size (float)
 * font-weight (normal/bold)
 * font-style (normal/italic)
 * color (#hex-value)
 * background-color (#hex-value)
 * text-align (left/right/center)
 */


normal {
	font-family: 'times';
	font-size: 12;
}

header {
	font-size: 18;
	font-weight: bold;
	text-align: center;
}

subheader {
	font-size: 14;
	font-weight: bold;
}

alert {
	color: #aa0000;
	font-weight: bold;
}

note {
	color: #aaaa00;
	font-weight: bold;
}

block-quote {
	text-align: center;
	font-style: italic;
}

input {
}

user1 {
}

user2 {
}
