/* Possible windows:
 * grid
 * buffer
 *
 * Possible selectors:
 * normal
 * emphasized
 * preformatted
 * header
 * subheader
 * alert
 * note
 * block-quote
 * input
 * user1
 * user2
 * hyperlink
 *
 * Possible style hints:
 * font-family (string)
 * font-size (float)
 * font-weight (normal/bold)
 * font-style (normal/italic)
 * color (#hex-value)
 * background-color (#hex-value)
 * text-align (left/right/center)
 */
grid {
	font-size: 11;
	color: #303030;
}

buffer {
	color: #303030;
	font-size: 11;
	margin-bottom: 5;
}

grid.user1 {
	color: #303030;
	background-color: #ffffff;
}

buffer.emphasized {
	font-size: 14;
}

buffer.header {
	font-weight: bold;
}

buffer.subheader {
	font-weight: bold;
}

buffer.alert {
	color: #aa0000;
	font-weight: bold;
}

buffer.note {
	color: #aaaa00;
	font-weight: bold;
}

buffer.block-quote {
	text-align: center;
	font-style: italic;
}

buffer.input {
	color: #0000aa;
	font-style: italic;
}

buffer.user1 {
}

buffer.user2 {
}
