Source: chimara
Section: libs
Priority: extra
Maintainer: Philip Chimento <philip.chimento@gmail.com>
Build-Depends: bison,
               debhelper (>= 10),
               gobject-introspection,
               gstreamer1.0-plugins-bad,
               gstreamer1.0-plugins-base,
               gstreamer1.0-plugins-good,
               gstreamer1.0-tools,
               gtk-doc-tools (>= 1.20),
               libgirepository1.0-dev,
               libglib2.0-dev, 
               libgstreamer1.0-dev,
               libgtk-3-dev,
               meson (>= 0.50),
               pkg-config,
               texinfo,
               valac,
               xvfb
Standards-Version: 3.7.3
Homepage: http://lassie.student.utwente.nl/chimara

Package: libchimara0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends}
Description: A GTK+ widget implementation of the Glk library
 Chimara is a GTK+ widget that loads and runs Glk programs as plugins. Glk is an
 input/output specification specifically designed for interactive fiction.
 
Package: libchimara-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libchimara0 (= ${binary:Version}),
         libglib2.0-dev,
         libgstreamer1.0-dev,
         libgtk-3-dev
Suggests: libchimara-doc
Description: Development files for the Chimara Glk library
 Chimara is a GTK+ widget that loads and runs Glk programs as plugins. Glk is an
 input/output specification specifically designed for interactive fiction.
 .
 This package contains the header files required if you wish to develop software
 that uses the Chimara widget.

Package: libchimara-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for the Chimara Glk library
 Chimara is a GTK+ widget that loads and runs Glk programs as plugins. Glk is an
 input/output specification specifically designed for interactive fiction.
 .
 This package contains the Chimara reference manual.

Package: chimara-player
Section: games
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libchimara0 (= ${binary:Version})
Description: Interactive fiction player using the Chimara Glk library
 Chimara is a GTK+ widget that loads and runs Glk programs as plugins. Glk is an
 input/output specification specifically designed for interactive fiction.
 .
 This package contains a default interactive fiction player that uses Chimara.

Package: gir1.2-chimara-1.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends: ${gir:Depends},
         ${misc:Depends}
Description: GObject introspection data for the Chimara Glk library
 Chimara is a GTK+ widget that loads and runs Glk programs as plugins. Glk is an
 input/output specification specifically designed for interactive fiction.
 .
 This package contains introspection data for the Chimara library.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.
